.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.edit-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}