.profile-info {
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-profile {
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    /* change border color to a lighter gray */
    padding: 20px;
    /* add some padding to create whitespace */
    margin: 20px;
    /* add some margin to create whitespace */
    background-color: #f9f9f9;
    /* add a background color */
    border-radius: 10px;
    /* add some rounding to the border */
}


.AccountProducts {
    /* change width to 100% to fill the container */
    height: 100%;
    /* change height to 90% to fill the container */
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* add some padding to create whitespace */
    margin: 10px;
    /* add some margin to create whitespace */
    background-color: #fff;
    /* add a background color */
    border-radius: 10px;
}

.BackButton {
    /* top left corner */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.buttons-account {
    /* top right corner */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons-account button {
    margin: 1rem;

}

.product-cards {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;

}

.title {
    height: 10%;
}