/* Form container */
.form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

/* Form labels */
.form-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* Form inputs */
.form-input {
    width: 100%;
    padding: 6px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Form select */
.form-select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Form file input */
.form-file {
    margin-bottom: 20px;
}

/* Form submit button */
.form-submit-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}